In [129]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [130]:
 df = pd.read_csv('/content/quikr_car.csv')

In [131]:
df.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [132]:
df.shape

(892, 6)

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

# Data Assessing

In [135]:
df.duplicated().sum()

94

## 1. name

In [136]:
df['name'].sample(50)

551                    Maruti Suzuki Dzire ZXI
693          Toyota Corolla Altis VL AT Petrol
611             Toyota Corolla Altis GL Petrol
178                                Honda Amaze
137                         Tata Indica V2 eLS
146                           Mahindra Scorpio
497                                Tata Indica
689    Volkswagen Jetta Comfortline 1.9 TDI AT
149                               Nissan Sunny
729                     Mahindra Xylo D2 BS IV
341                 Mahindra KUV100 K8 D 6 STR
818                        Maruti Suzuki Dzire
481             Toyota Corolla Altis GL Petrol
31                    Mahindra Scorpio S10 4WD
435                   Chevrolet Beat LS Diesel
710          Maruti Suzuki Swift VXi 1.2 BS IV
573                            Chevrolet Enjoy
373              Maruti Suzuki Alto K10 VXi AT
50                          Mahindra Bolero DI
142           Toyota Innova 2.5 GX BS IV 7 STR
260                       Ford Figo Diesel EXI
642                        Maruti Suzuki Swift
775                          Tata Indica V2 LS
860                             Toyota Etios G
474                Hyundai Xcent Base 1.1 CRDi
414         Swift Dzire Tour 27 Dec 2016 Regis
84                                  Honda Brio
800                        scratch less Tata I
326                      Maruti Suzuki Wagon R
314                        Maruti Suzuki Dzire
97                 Ford Figo Diesel EXI Option
650                   Toyota Etios Liva Diesel
143           Volkswagen Jetta Highline TDI AT
11                  Maruti Suzuki Stingray VXi
629    Maruti Suzuki Swift Dzire VXi 1.2 BS IV
521         Maruti Suzuki Estilo VXi ABS BS IV
191                Maruti Suzuki Ciaz VXi Plus
299                  Tata Indica V2 Xeta e GLE
588                            Hyundai i10 Era
479                    Maruti Suzuki Dzire LDI
238              Tata Indigo eCS LX TDI BS III
252                                Honda Amaze
192                       Maruti Suzuki Zen VX
564             Maruti Suzuki Alto K10 LXi CNG
716               Maruti Suzuki Zen LXi BS III
734                 Toyota Fortuner 3.0 4x4 MT
582              Hyundai Verna VGT CRDi SX ABS
327                           Mahindra Scorpio
678             Audi A4 2.0 TDI 177bhp Premium
407    Volkswagen Vento Konekt Diesel Highline
Name: name, dtype: object

## 2. company

In [137]:
df['company'].isnull().sum()

0

In [138]:
df['company'].unique()

array(['Hyundai', 'Mahindra', 'Maruti', 'Ford', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'I', 'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat',
       'Commercial', 'MARUTI', 'Force', 'Mercedes', 'Land', 'Yamaha',
       'selling', 'URJENT', 'Swift', 'Used', 'Jaguar', 'Jeep', 'tata',
       'Sale', 'very', 'Volvo', 'i', '2012', 'Well', 'all', '7', '9',
       'scratch', 'urgent', 'sell', 'TATA', 'Any', 'Tara'], dtype=object)

## 3. year

In [139]:
df['year'].isnull().sum()

0

In [140]:
df['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

## 4. Price

In [141]:
df['Price'].isnull().sum()

0

In [142]:
df['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [143]:
df['Price'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 892 entries, 0 to 891
Series name: Price
Non-Null Count  Dtype
--------------  -----
892 non-null    object
dtypes: object(1)
memory usage: 7.1+ KB

## 5. kms_driven

In [144]:
df['kms_driven'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 892 entries, 0 to 891
Series name: kms_driven
Non-Null Count  Dtype
--------------  -----
840 non-null    object
dtypes: object(1)
memory usage: 7.1+ KB

In [145]:
df['kms_driven'].unique()

array(['45,000 kms', '40 kms', '22,000 kms', '28,000 kms', '36,000 kms',
       '59,000 kms', '41,000 kms', '25,000 kms', '24,530 kms',
       '60,000 kms', '30,000 kms', '32,000 kms', '48,660 kms',
       '4,000 kms', '16,934 kms', '43,000 kms', '35,550 kms',
       '39,522 kms', '39,000 kms', '55,000 kms', '72,000 kms',
       '15,975 kms', '70,000 kms', '23,452 kms', '35,522 kms',
       '48,508 kms', '15,487 kms', '82,000 kms', '20,000 kms',
       '68,000 kms', '38,000 kms', '27,000 kms', '33,000 kms',
       '46,000 kms', '16,000 kms', '47,000 kms', '35,000 kms',
       '30,874 kms', '15,000 kms', '29,685 kms', '1,30,000 kms',
       '19,000 kms', nan, '54,000 kms', '13,000 kms', '38,200 kms',
       '50,000 kms', '13,500 kms', '3,600 kms', '45,863 kms',
       '60,500 kms', '12,500 kms', '18,000 kms', '13,349 kms',
       '29,000 kms', '44,000 kms', '42,000 kms', '14,000 kms',
       '49,000 kms', '36,200 kms', '51,000 kms', '1,04,000 kms',
       '33,333 kms', '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms',
       '24,330 kms', '65,480 kms', '28,028 kms', '2,00,000 kms',
       '99,000 kms', '2,800 kms', '21,000 kms', '11,000 kms',
       '66,000 kms', '3,000 kms', '7,000 kms', '38,500 kms', '37,200 kms',
       '43,200 kms', '24,800 kms', '45,872 kms', '40,000 kms',
       '11,400 kms', '97,200 kms', '52,000 kms', '31,000 kms',
       '1,75,430 kms', '37,000 kms', '65,000 kms', '3,350 kms',
       '75,000 kms', '62,000 kms', '73,000 kms', '2,200 kms',
       '54,870 kms', '34,580 kms', '97,000 kms', '60 kms', '80,200 kms',
       '3,200 kms', '0,000 kms', '5,000 kms', '588 kms', '71,200 kms',
       '1,75,400 kms', '9,300 kms', '56,758 kms', '10,000 kms',
       '56,450 kms', '56,000 kms', '32,700 kms', '9,000 kms', '73 kms',
       '1,60,000 kms', '84,000 kms', '58,559 kms', '57,000 kms',
       '1,70,000 kms', '80,000 kms', '6,821 kms', '23,000 kms',
       '34,000 kms', '1,800 kms', '4,00,000 kms', '48,000 kms',
       '90,000 kms', '12,000 kms', '69,900 kms', '1,66,000 kms',
       '122 kms', '0 kms', '24,000 kms', '36,469 kms', '7,800 kms',
       '24,695 kms', '15,141 kms', '59,910 kms', '1,00,000 kms',
       '4,500 kms', '1,29,000 kms', '300 kms', '1,31,000 kms',
       '1,11,111 kms', '59,466 kms', '25,500 kms', '44,005 kms',
       '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '1,80,000 kms', '53,000 kms', '35,500 kms',
       '22,134 kms', '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms',
       '15,574 kms', '8,000 kms', '55,800 kms', '56,400 kms',
       '72,160 kms', '11,500 kms', '1,33,000 kms', '2,000 kms',
       '88,000 kms', '65,422 kms', '1,17,000 kms', '1,50,000 kms',
       '10,750 kms', '6,800 kms', '5 kms', '9,800 kms', '57,923 kms',
       '30,201 kms', '6,200 kms', '37,518 kms', '24,652 kms', '383 kms',
       '95,000 kms', '3,528 kms', '52,500 kms', '47,900 kms',
       '52,800 kms', '1,95,000 kms', '48,008 kms', '48,247 kms',
       '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms', '49,500 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '38,900 kms',
       '1,37,495 kms', '91,200 kms', '1,46,000 kms', '1,00,800 kms',
       '2,100 kms', '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

## 6. fuel_type

In [146]:
df['fuel_type'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 892 entries, 0 to 891
Series name: fuel_type
Non-Null Count  Dtype
--------------  -----
837 non-null    object
dtypes: object(1)
memory usage: 7.1+ KB

In [147]:
df['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

## Issues with the dataset
- dataset contains duplicate rows `validity`
- "name" column contains inconsistant information. We will take only model name `consistancy`
- "name" column contains some garbage name `accuracy`
- "company" column sometimes contains lower sometimes contains upper case company name for some companies `consistancy`
- "company" column contains garbage company name `accuracy`
- "year" column contains garbage value `accuracy`
- The datatype of the "year" column is object `validity`
- The datatype of the "Price" column is object and it's comma separeted `validity`
- "Price" column contains garbage value like 'Ask For Price' `validity`
- "kms_driven" column has null values `completeness`
- "kms_driven" column has 'Petrol' value `validity`
- The values of "kms_driven" column end with kms `validity`
- The datatype of the "kms_driven" column is object and it's comma separeted `validity`
- "fuel_type" column has null values `completeness`

# Data Cleaning

### Data Cleaning Order
- Completeness <- Validity <- Accuracy <- Consistency

### Completeness

In [148]:
# Define: Drop the rows which has null values in "kms_driven" column

# Code:
df.dropna(subset = ['kms_driven'], inplace = True)

# Test:
df['kms_driven'].isnull().sum()

0

In [149]:
# Define: Drop the rows which has null values in "fuel_type" column

# Code:
df.dropna(subset = ['fuel_type'], inplace = True)

# Test:
df['fuel_type'].isnull().sum()

0

### Validity

In [150]:
# Define: Drop all the duplicate rows

# Code:
df.drop_duplicates(inplace = True)

# Test:
df.duplicated().sum()

0

In [151]:
# Define: Change to data type of "year" column to integer

# Code:
df['year'] = df['year'].astype(int)

# Test:
df['year'].dtype

dtype('int64')

In [152]:
# Define: Retrive only numeric value & remove the comma(,) & change the data type to integer for "Price" column

# Code:
df = df[df['Price'].str.replace(',', '').str.isnumeric()]
df['Price'] = df['Price'].str.replace(',', '').astype(int)

# Test:
df['Price']

<ipython-input-152-ccf889e8ec14>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price'] = df['Price'].str.replace(',', '').astype(int)

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
883    270000
885    110000
886    300000
888    260000
889    390000
Name: Price, Length: 724, dtype: int64

In [153]:
# Define: Retrive only numeric value and remove the comma(,) & kms. Then change the data type to integer for "kms_driven" column

# Code:
df['kms_driven'] = df['kms_driven'].str.replace(',', '').str.replace(' kms', '')
df = df[df['kms_driven'].str.isnumeric()]
df['kms_driven'] = df['kms_driven'].astype(int)

# Test:
df['kms_driven']

<ipython-input-153-afaa5fb56c80>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['kms_driven'] = df['kms_driven'].str.replace(',', '').str.replace(' kms', '')

0       45000
1          40
3       28000
4       36000
6       41000
        ...
883     50000
885     30000
886    132000
888     27000
889     40000
Name: kms_driven, Length: 724, dtype: int64

### Accuracy

In [154]:
# All accuracy problem has been solved

### Consistency

In [161]:
# Define: Take only model name from "name" column and drop the "name" column

# Code:
df['model'] = df['name'].str.split().str.slice(1,3).str.join(' ')
df.drop('name', axis = 1, inplace = True)

# Test:
df

      company  year   Price  kms_driven fuel_type              model
0     Hyundai  2007   80000       45000    Petrol        Santro Xing
1    Mahindra  2006  425000          40    Diesel         Jeep CL550
3     Hyundai  2014  325000       28000    Petrol          Grand i10
4        Ford  2014  575000       36000    Diesel  EcoSport Titanium
6        Ford  2012  175000       41000    Diesel               Figo
..        ...   ...     ...         ...       ...                ...
883    Maruti  2011  270000       50000    Petrol        Suzuki Ritz
885      Tata  2009  110000       30000    Diesel          Indica V2
886    Toyota  2009  300000      132000    Petrol      Corolla Altis
888      Tata  2018  260000       27000    Diesel            Zest XM
889  Mahindra  2013  390000       40000    Diesel          Quanto C8

[724 rows x 6 columns]

# Export the clean Data

In [168]:
df = df.reset_index(drop = True)

In [169]:
df

      company  year   Price  kms_driven fuel_type              model
0     Hyundai  2007   80000       45000    Petrol        Santro Xing
1    Mahindra  2006  425000          40    Diesel         Jeep CL550
2     Hyundai  2014  325000       28000    Petrol          Grand i10
3        Ford  2014  575000       36000    Diesel  EcoSport Titanium
4        Ford  2012  175000       41000    Diesel               Figo
..        ...   ...     ...         ...       ...                ...
719    Maruti  2011  270000       50000    Petrol        Suzuki Ritz
720      Tata  2009  110000       30000    Diesel          Indica V2
721    Toyota  2009  300000      132000    Petrol      Corolla Altis
722      Tata  2018  260000       27000    Diesel            Zest XM
723  Mahindra  2013  390000       40000    Diesel          Quanto C8

[724 rows x 6 columns]

In [171]:
df.to_csv('car_price_data.csv')